/*#region This is my custom  css  :Dy Hassan Ali */


 /*#region HearingContent Grid system*/

 .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "card"
      "asid"
      "table";
    gap: 1.5rem;
  }
  
  @media (min-width: 980px) {
    .dashboard-grid {
      grid-template-columns: 4fr 1fr; 
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "card asid"
        "table asid"
        "null asid";
    }
  }
 /*#endregion HearingContent Grid system*/



 /*#region ReusableTable for min screen*/

 @media (max-width:980px) {
     .th-min-screen-width{
        min-width: 10rem !important;
     }
 }
 /*#region ReusableTable for min screen */
  





/*#endregion This is my custom  css  :Dy Hassan Ali */